
Temp/FSTimeGet-26a6ba9ac4a94434bad5dd176ace1653
Temp/FSTimeGet-52e1dc516188ee24ab3d870f60a52359
Temp/FSTimeGet-4080fffc432aa714c8414cc750a3ddec
Temp/UnityLockfile
Temp/FSTimeGet-c4076a201d385324ca0b9382b93c8d1d
UserSettings/Layouts/default-2022.dwlt
Temp/workerlic
Temp/__Backupscenes/0.backup
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/SourceAssetDB
Library/SceneVisibilityState.asset
Library/EditorInstance.json
